ENABLE_LIVE_PLATFORM=false
API_KEY=your_api_key_here
COOKIES_STR=your_cookie_here
MODEL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-max
TOGGLE_KEYWORDS=。
SIMULATE_HUMAN_TYPING=False
